streamlit
langchain
langchain-community
beautifulsoup4
python-dotenv
requests
selenium
webdriver-manager
nltk
wikipedia
transformers
torch
torchvision
torchaudio
spacy
arxiv
pymupdf
youtube-transcript-api
faiss-cpu
langchain-ollama
unstructured
firecrawl-py
sentence-transformers
rouge-score
matplotlib
seaborn
numpy
pandas
